body {
    background-image: url("images/background.png");
}
.headings {
    color: white;
}
.container {
    padding: 25px;
    position: fixed;
}
.row {
    position: relative;
    left: 10%;
    top: 240px;
}
.row_2 {
    position: relative;
    left: 10%;
    top: 0px;
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}
h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}
.form-control {
    border-radius: 10px;
}
.wrapper {
    text-align: center;
}
.list-group-item {
    width: 37%;
    left: 60%;
}
.list-group {} #scroll-list {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    left: 15%;
}
#errorMessage_rooms {
    width: 100%;
    bottom: 65%;
    height: : 20%;
    left: 50%;
}
#wrapper_room {
    width: 1100px;
    height: 670px;
    margin: 0 auto;
}
#header {
    text-align: center;
    position: relative;
    height: 70px;
    width: 700px;
}
#content {
    position: relative;
    border: 5px solid black;
    float: left;
    width: 500px;
    height: 600px;
    max-height: 500px;
    overflow-y: scroll;
    background: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#rightcolumn {
    width: 200px;
    float: left;
    text-align: left;
    border: 5px solid black;
    height: 500px;
    text-align: center;
    max-height: 500px;
    overflow-y: scroll;
    background: white;
}
.pmBox {
    width: 400px;
    float: left;
    text-align: left;
    border: 5px solid black;
    height: 500px;
    text-align: center;
    max-height: 500px;
    border: 5px solid black;
    background: white;
}
.pmBoxHead {
    position: relative;
    height: 50px;
    text-align: center;
    color: rgb(12, 22, 200);
}
.pmBoxTop {
    text-align: left;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-wrap: break-word;
    height: 444px;
}
.pmBoxBottom {
    height: 45px;
}
.messageBox {
    float: left;
    width: 700px;
    border: 5px solid black;
    background: white;
    height: 44px;
}
.submitBox {
    width: 87%;
}
.submitBox_pm {
    width: 70%;
}
.wrapper_rooms {
    width: 1000px;
    height: 670px;
    margin: 0 auto;
}
.header_rooms {
    position: relative;
    width: 1000px;
    height: 100px;
}
.form-login-rooms {
    position: relative;
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
    bottom: -30%;
    width: 70%;
    float: right;
}
.left_col {
    position: relative;
    height: 569px;
    width: 400px;
    float: left;
    margin: 0px;
}
.right_col {
    position: relative;
    float: left;
    height: 300px;
    width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    overflow-x: hidden;
    padding: 0px;
}
.right_col_heading {
    position: relative;
}
.rooms_list {
    left: 0%;
    margin: 0px;
    padding: 0px;
    max-height: 400px;
}
.rooms_item {
    left: 0%;
    margin: 0px;
    padding: 0px;
    max-height: 400px;
}
.changeTopic {
    width: 15%;
}
.operatorCtrl {} .opSelect {
    width: 20%;
}
.buttons {
    margin-bottom: -16px;
    width: 700px;
    height: 50px;
}
.user-part-room {
    width: 20%;
}
.user-list-item {
    padding-left: 0px;
    padding-right: 0px;
}
.user-list-item-name {
    clear: left;
    margin-left: 0px;
    padding-left: 0px;
    float: left;
}
.user-list {
    padding-left: 5px;
    padding-right: 0px;
}
.userOperation {
    margin-right: 3px;
}
.line-in-pmbox {
    background-color: black;
    height: 1px;
    border: 0;
}
.atoolTip {
    display: inline;
    position: relative;
}
.atoolTip:hover:after {
    background: #333;
    background: rgba(0, 0, 0, .8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}