body {
   background-image: url("images/background.png");
    
}

.headings {
   color: white;
}


.container {
    padding: 25px;
    position: fixed;
}
.row {

 position: relative;
 left: 10%;
 top: 240px;

}

.row_2 {
   position: relative;
 left: 10%;
 top: 0px;
}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;

}

.wrapper {
    text-align: center;
}

.list-group-item {
  width: 37%;
  left: 60%;


}

.list-group {

}

#scroll-list {

    height: auto;
    max-height: 400px;
    overflow-x: hidden;
    left: 15%;
}


#errorMessage_rooms{
  position: absolute;
  width: 20%;
  bottom: 65%;
  left: 50%;
}

#wrapper_room {
  
     width: 800px;
     height: 670px;
    margin: 0 auto;

}

#header {
   position: relative;
    height: 75px;
    width:  800px;

    
  
   
}

#content {
  position: relative;
   border: 5px solid black;
    float: left;
    width: 600px;
    height: 600px;
    max-height: 500px;
    overflow-x: hidden;
    background: white;
   
}

#rightcolumn {
    width: 200px;
    float: left;
    text-align: left;
    border: 5px solid black;
    height: 500px;
    text-align: center;
    max-height: 500px;
    overflow-x: hidden;
    background: white;
 
}

.messageBox {
float: left;
width: 600px;
border: 5px solid black;
background: white;
height: 44px;

}

.submitBox {

  width: 87%;
}



