body {
   background-image: url("images/background.png");
    
}

.headings {
   color: white;
}

.middle_home{

position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -100px;
   width: 15%
    
}

#errorMessage_home {
   position: relative;
   width:90%;
  
}

.top_home {
 position: absolute;
   top: 20%;
   left: 48%;
   margin-left: -100px;
   font-family: "Times New Roman", Georgia, Serif;
   font-size: 30px;
   color: white;
}



.login {

   width:90%;
}


.rooms_left {
    margin: 0px;
    display: inline-block;
    width: 14%;
    text-align: left;
    vertical-align: right;
   
}

.rooms_mid {
   margin: 0px;
    display: inline-block;
    width: 70%;
    text-align: center;
    vertical-align: middle;
}

.rooms_right {
    margin: 0px;
    display: inline-block;
    width: 14%;
    text-align: center;
    vertical-align: top;
   

}

.list-group {

    
    width: 20%;
    margin-left: 37%;
    margin-top: 2%;

}


