body {
    background-image: url("images/background.png");
}
.headings {
    color: white;
}
h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

