body {
   background-image: url("images/background.png");
    
}

.headings {
   color: white;
}


.container {
    padding: 25px;
    position: fixed;
}
.row {

 position: relative;
 left: 25%;
 top: 300px;

}
.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;

}

.wrapper {
    text-align: center;
}

.list-group-item {
  width: 37%;
  left: 60%;


}

.list-group {

}

#scroll-list {

    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}


#errorMessage_rooms{
  position: absolute;
  width: 20%;
  bottom: 65%;
  left: 50%;
}

#wrapper_room {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 75px;
    width: 1000px;
    background: #FF6633;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 800px;
}

#rightcolumn {
    background: #CC33FF;
    width: 200px;
    float: left;
}


