<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                <h4>Welcome to Angular Chat</h4>
                <input type="text" id="login_box" class="form-control" ng-model="nickId" placeholder="Enter Nickname" />
                </br>

                </br>
                <div class="wrapper" ng-hide="loggedIn">
                    <span class="group-btn">     
                <button ng-click="login()" class="btn btn-default glyphicon glyphicon-log-in" id"login_click"> Login</button>
                </br>

                </br>
                <div class="alert alert-danger" ng-show="login_error" id="errorMessage_home" >
					{{errorMessage}}
				</div>
            </span>
                </div>
            </div>


        </div>
    </div>