

<div class="container_rooms">

	<div class="rooms_left">

	</div>


	<div class ="rooms_mid">
		<h2 class="headings"> Welcome {{nickId}}, please choose/create chat room </h2>
		<h3 class="headings"> Create Room </h3>
		<input type="text" ng-model="roomId" placeholder="Enter Room name"></input>
		<button class="btn btn-default" ng-click="newRoom()">Create Room</button>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="room in rooms">
				<a ng-href="#/rooms/{{nickId}}/{{room}}"> {{room}} </a>
			</li>
		</ul>
	</div>

	<div class="rooms_right">
		

	</div>

</div>











