<div id="wrapper_room">
    <div id="header">
        <button ng-click="partRoom()"> Part Room </button>
        <h2 class="headings"> Hello {{nickId}} welcome to chat room: {{roomId}} </h2>
        <h2 class="headings">Topic of the room is: {{topic}}</h2>
    </div>
    <div id="content" class="well" scroll-glue>
        <ul ng-repeat="message in messages">
            <li>
                <span>{{message.timestamp}} {{message.nick}} > {{message.message}} </span>
            </li>
        </ul>
    </div>
    <div id="rightcolumn">
        <h2> Users </h2>
        <ul class="list-group-list list-group-horizontal" id="users">
            <li class="userlist-unstyled" ng-repeat="nick in nicks">
                <a href="" ng-click="showPmBox(nick)">{{nick}}</a>
                <select class="opSelect" ng-show="isop" ng-model="orderSelect" ng-options="order.value as order.label for order in orders" ng-change="selectOrders(orderSelect,nick)"> 
                </select>
				<span ng-show="pmUnreadFrom[nick]" class="ng-cloak glyphicon glyphicon-envelope pull-right"></span>
            </li>
        </ul>
    </div>
    <div class="pmBox" ng-show="userSelected">
        <div class="pmBoxTop">
            <div class="pmBoxHead" scroll-glue>
                Send pm to : {{nickSelected}}
            </div>
            <ul ng-repeat="message in pmMessages[nickSelected]">
                <li>
                    <span>{{message.timestamp}} {{message.sender}} > {{ message.message}} </span>
                </li>
            </ul>
        </div>
        <div class="pmBoxBottom">
            <form ng-submit="sendPmMSG()">
                <button type="submit" class="btn btn-default">Submit</button>
                <input class="submitBox_pm" type="text" ng-model="pmSubmitMessage" placeholder=""></input>
            </form>
        </div>
    </div>
    <div class="messageBox">
        <form ng-submit="sendMSG()">
            <button type="submit" class="btn btn-default" ng-click="sendMSG()">Submit</button>
            <input class="submitBox " type="text" ng-model="submitMessage" placeholder=""></input>
        </form>
    </div>
    <div ng-show="isop" class="operatorCtrl">
        <form ng-submit="changeTopic()">
            <button type="submit" class="btn btn-default" ng-click="changeTopic()">Change</button>
            <input class="changeTopic" type="text" ng-model="topicToChange" placeholder="Change Topic"></input>
        </form>
        <form ng-submit="changePassword()">
            <button type="submit" class="btn btn-default" ng-click="changePassword()">Change</button>
            <input type="text" ng-model="pwToChange" placeholder="Change Password"></input>
            <button ng-click="removePassword()" class="btn btn-default"> Remove Password</button>
        </form>
    </div>
</div>