<div id="wrapper_room">
    <div id="header">
        <h2 class="headings">{{roomId}} - Topic: {{topic}}</h2>
        <hr>
    </div>
    <div class="buttons">
        <div ng-show="isop" class="btn-group btn-group-justified operatorCtrl">
            <a ng-click="changeTopic()" class="btn btn-success">Change Topic</a>
            <a ng-click="changePassword()" class="btn btn-info">Change Password</a>
            <a ng-click="removePassword()" class="btn btn-danger">Remove Password</a>
            <a ng-click="partRoom()" class="btn btn-warning"> Part Room </a>
        </div>
        <div ng-show="!isop">
            <a ng-click="partRoom()" class="btn btn-warning pull-right user-part-room"> Part Room </a>
        </div>
    </div>

    <div id="content" class="well" scroll-glue>
        <ul ng-repeat="message in messages">
            <li>
                <span>{{message.timestamp}} {{message.nick}} > {{message.message}} </span>
            </li>
        </ul>
    </div>
    <div id="rightcolumn" class="well">
        <h2> Users </h2>
        <ul class="list-group-list list-group-horizontal user-list" id="users">
            <li class="userlist-unstyled list-unstyled user-list-item" ng-repeat="nick in nicks">
                <a href="" ng-click="showPmBox(nick)" class="user-list-item-name">{{nick}}</a>
                <a href="" ng-show="isop" ng-click="banUser(nick)"> <span class="ng-cloak glyphicon glyphicon-ban-circle pull-right userOperation"></span> </a>
                <a href="" ng-show="isop" ng-click="kickUser(nick)"> <span class="ng-cloak glyphicon glyphicon-remove-circle pull-right userOperation"></span> </a>
                <a href="" ng-show="isop" ng-click="deopUser(nick)"> <span class="ng-cloak glyphicon glyphicon-pawn pull-right userOperation"></span> </a>
                <a href="" ng-show="isop" ng-click="opUser(nick)"> <span class="ng-cloak glyphicon glyphicon-king pull-right userOperation"></span> </a>
                <a href="" ng-show="pmUnreadFrom[nick]" ng-click="showPmBox(nick)"> <span class="ng-cloak glyphicon glyphicon-comment pull-right userOperation"></span></a>
            </li>
        </ul>
    </div>
    <div class="pmBox" ng-show="userSelected">
        <div class="pmBoxTop" scroll-glue>
            <div class="pmBoxHead">
                Send pm to : {{nickSelected}}
                <hr class="line-in-pmbox">
            </div>
            <ul ng-repeat="message in pmMessages[nickSelected]">
                <li>
                    <span>{{message.timestamp}} {{message.sender}} > {{ message.message}} </span>
                </li>
            </ul>
        </div>
        <div class="pmBoxBottom">
            <form ng-submit="sendPmMSG()">
                <button type="submit" class="btn btn-default">Submit</button>
                <input class="submitBox_pm" type="text" ng-model="pmSubmitMessage" placeholder=""></input>
            </form>
        </div>
    </div>
    <div class="messageBox">
        <form ng-submit="sendMSG()">
            <button type="submit" class="btn btn-default" ng-click="sendMSG()">Submit</button>
            <input class="submitBox " type="text" ng-model="submitMessage" placeholder=""></input>
        </form>
    </div>
</div>